@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
a {
  text-decoration: none; /* no underline */
}
.App {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass {
  background: white;
  min-height: 90vh;
  width: 95%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.nav {
  z-index: 2;
  flex: 1;
  background: rgba(255, 255, 255, 0.5);
  min-height: 10vh;
  max-height: 10vh;
  width: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
}
.container {
  flex: 4;
  display: flex;
  position: relative;
  width: 100%;
}
.dashboard {
  flex: 2;
  position: relative;
  height: 80vh;
  max-width: 450px;
  min-width: 300px;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.801)
  );
  overflow-y: auto;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}
.preview_maindiv {
  margin-top: 8px;
  display: flex;
  position: relative;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.801)
  );
}
.preview_maindiv:last-child {
  margin-bottom: 15px;
}

.preview__fig {
  margin-left: 10px;
  height: 80px;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  flex: 1;
  align-items: center;
}
.preview__data {
  margin-left: 10px;
  margin-top: 10px;
  color: #d6512c;
  font-size-adjust: inherit;
  flex: 4;
  padding: 4px;
  height: fit-content;
  width: fit-content;
  justify-content: center;
}
.preview_maindiv:hover {
  background-image: linear-gradient(
    to right,
    rgba(255, 135, 98, 0),
    rgba(255, 180, 157, 0.507)
  );
}
.preview__title {
  text-transform: uppercase;
}
.recipe {
  flex: 5;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 80vh;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.recipe_top_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.recipe__fig {
  display: flex;
  flex: 1;
  width: 50vh;
  height: fit-content;
}
.recipe__details {
  display: flex;
  flex: 4;
  flex-direction: column;
}
.recipe__info {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 10%,
    rgb(255, 255, 255) 90%,
    rgba(255, 255, 255, 0) 100%
  );
}
.recipe__title {
  margin-top: 2%;
  position: relative;
  transform: translate(13%, 20%) skewY(-2deg);
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  width: 80%;
  line-height: 1;
  text-align: center;
}
.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #ff7300, #bd4804);
}
.recipe__img {
  width: 50vh;
  height: 50vh;
  image-rendering: crisp-edges;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
}
.header__logo {
  height: 40px;
  position: absolute;
  left: 5%;
}

.button-1 {
  background-color: #fda085;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #ff8461;
}
.search__field {
  padding: 7px 0px;
  width: 250px;
}
.search {
  position: absolute;
  right: 5%;
}
